<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= form_tag twitch_path, :role => "form", :method => 'get' do %>
          <%= label_tag :game %>
          <%= text_field_tag :name, nil, :required => true %>
          <%= submit_tag :Search %>
        <% end %>
      </div>

      <div class="col-sm-6">
        <%= form_tag streamers_path, :method => 'get' do %>
          <%= label_tag :name %>
          <%= text_field_tag :streamer, nil, :required => true %>
        <%= submit_tag :Search %>
        <% end %>
      </div>

      <div class="col-sm-6">

      </div>
  </div>

  </div>
</div>
