<div class="jumbotron">
  <div class="container">
    <div>

    <%= @streams["data"].each_slice(3) do |data_by_3| %>

      <div class="row">
        <!-- From splitted section getting 1 Streamer into each row -->
        <% data_by_3.each do |data| %>
        <div class="col-md-4">
            <%= image_tag data["thumbnail_url"].sub("{width}", "500").sub("{height}", "300"), :class => 'card-img-top' %>
        <div class="card">
        <div class="card-body">

        <div class="card-title">
          <% begin %>
            <a href="http://twitch.tv/<%= data["user_name"] %>"><%=data["user_name"]%></a>
        </div>

            <%= data["title"] %>
            <% rescue; end %>
        </div>
        </div>
      </div>
      <% end %>
    </div> <!-- ROW -->
    <% end %>

    </div>
    <button class="btn btn-link right">
    <%= link_to 'Next', twitch_path(:cursor => @cursor, :name => params[:name]) %>
    </button>

    </div>


</div>
